.Rproj.user
.Rhistory
.RData
.Ruserdata
02_LinkdInPostTemplate.txt
app_world_cloud/Presentation1.pptx
app_world_cloud/Presentation1.pdf
app_tco_calculations/Dynamic TCO Calculations.pdf
app_tco_calculations/Dynamic TCO Calculations.pptx
